<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="content">
        <h1 th:text="'contact ' + ${name}"></h1>
    <div><img src="img/banner03.png" alt="contact" width=""></div>
    <!--<form action="#" method="post"> -->
    <div class="clean"></div>
    <div class="form">
        <div>
            <form action="#" method="get">
                <table>
                    <tr>
                        <td> <lable for="name">FirstName: </lable></td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td><lable for="name">LastName: </lable></td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Age: </td>
                        <td><input type="number" max="100" min="1" step="1" value="16"></td>
                    </tr>
                    <br>
                    <tr>
                        <td></td>
                        <td style="text-align: right"><a href="#" class="btn">Add</a></td>
                    </tr>
                </table>
            </form>
        </div>
        <br>
        <hr>
        <br>
        <table class="contact">
            <tr>
                <td width="80%">
                    Tanja
                </td>
                <td></td>
                <td><a href="#"> <img src="img/edit.png" alt="edit" width="20px"> </a></td>
                <td><a href="#"><img src="img/delete.png" alt="edit" width="20px"></a></td>
            </tr>
        </table>
        <table class="contact">
            <tr>
                <td width="80%">Vasja</td>
                <td></td>
                <td><a href="#"> <img src="img/edit.png" alt="edit" width="20px"> </a></td>
                <td><a href="#"><img src="img/delete.png" alt="edit" width="20px"></a></td>

            </tr>
        </table>
        <table class="contact">
            <tr>
                <td width="80%">Petja</td>
                <td></td>
                <td><a href="#"> <img src="img/edit.png" alt="edit" width="20px"> </a></td>
                <td><a href="#"><img src="img/delete.png" alt="edit" width="20px"></a></td>
            </tr>
        </table>
        <br>
    </div>
    <!--   </form> -->
</div>
</body>
</html>